body, input {
   font-size: 20px;
   font-family: 'Roboto Mono', monospace;
   background-color: #222;
   color:white
}

::-webkit-scrollbar {
   width: 2px;
 }
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 ::-webkit-scrollbar-thumb {
   background: #888; 
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }

.main-container {
   width: 100%;
}

.command-reader {
   display: flex;
   & .prompt-string{
      padding-right: 10px;
   }
   & input.command-value-input{
      width: 0;
      height: 0;
      opacity: 0;
   }
}

