@font-face {
   font-family: Courier10PitchBT;
   src: url("/Courier10PitchBT-Roman.ttf")  format("truetype");
}

html{
   height: 100%;
}

*, *:before, *:after {
   box-sizing: border-box;
 }

body{
   background: linear-gradient(to right, rgb(255, 243, 243), rgb(81, 113, 138));
}
select{
   display: inline-block;
   width: 100%;
}

body, input {
   height: 100%;
   margin: 0;
   position: relative;
   font-size: 12px;
   font-family: Roboto;
}

input[type="color"]{
   height: 18px;
}

button{
   outline: none;
   border:none;
}

.settings-button{
   background-color: #ededed;
   cursor: pointer;
}
.settings-button:hover{
   background-color: #ffffff;
}

.main-container {
   width: 100%;
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.term-row{
   overflow: hidden;
}

.term-cell{
   display: inline-block;
   height: 100%; 
   vertical-align: top;
}

.fake-term-cell{
   opacity: 0;
}

.hide{
   position: absolute;
   font-size: 25px;
   opacity:0;
   z-index: -1000;
}

.window{
   box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1), -1px -1px 3px 1px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.window-title-bar{
   display: flex;
   height: 30px;
}

.window-controls{
   display: flex;
   align-items: center;
   justify-content: center;
}

.new-tab-btn{
   background-color: rgb(0, 195, 255);
   color: white;
   height: 100%;
   cursor: pointer;
   font-size: 20px;
}

.new-tab-btn:hover{
   background-color: rgb(73, 213, 255);
}

.settings-open-btn{
   background-color: rgb(169, 87, 247);
   color: white;
   height: 100%;
   cursor: pointer;
   font-size: 20px;
   border-top-right-radius: 5px;
}

.settings-open-btn:hover{
   background-color: rgb(181, 102, 255);
}

.tab-titles{
   flex: 1;
   display: flex;
}

.tab-title{
   height: 100%;
   background-color: rgb(194, 226, 255);
   color: rgb(0, 0, 0);
   display: flex;
   font-size: 14px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   position: relative;
   font-weight: 500;
}

.tab-title:first-child{
   border-top-left-radius: 5px;
}

.tab-title.inactive{
   background-color: rgb(255, 255, 255);
}

.tab-title-close-btn{
   background-color: rgb(216, 77, 77);
   padding:0;
   width: 20px;
   height: 20px;
   color: white;
   cursor: pointer;
   font-size: 14px;
   border-radius: 20%;
   position: absolute;
   right: 5px;
   z-index: 1000;
}

.tab-title-close-btn:hover{
   background-color: rgb(255, 97, 97);
}

.term-tab{
   display: flex;
   flex-wrap: wrap;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   cursor: default;
   outline: none;
}

.term-tab.hide{
   display: none
}

.settings-container{
   width: 200px;
   background-color: #222;
   color: #fff;
   position: absolute;
   right: 5px;
   padding: 10px;
   z-index: 10000;
   border-radius: 5px;
   box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1), -1px -1px 3px 1px rgba(0, 0, 0, 0.1);
}

.settings-container input{
   background-color: rgb(104, 104, 104);
   color: #fff;
   border: none;
   width: 100%;
}

.settings-container.hide{
   display: none;
}

.settings-title{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 5px;
}

.settings-close-btn{
   background-color: rgb(216, 77, 77);
   color: white;
   height: 100%;
   cursor: pointer;
   font-size: 20px;
   border-radius: 20%;
}

.settings-close-btn:hover{
   background-color: rgb(255, 97, 97);
}

.alert{
   position: absolute;
   height: 40px;
   top: 0;
   right:0;
   left:0;
   align-items: center;
   justify-content: center;
   background-color: rgb(56, 179, 93);
   color: white;
   font-weight: 500;
   font-size: 15px;
   display: none;
}

.alert.show{
   display: flex;
}